@import 'colors';
@import 'fonts';

.copyrights {
  align-self: flex-end;
  color: white;
  font-size: $text-small;
  margin-top: 10px;
}

.footer-title {
  color: white;
  font-size: $text-big;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer-container {
  justify-content: center;
  align-items: center;
  background-color: $cerulean;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  height: 200px;
  left: 0px;
  padding: 30px;
  width: 100%;
}
