@import 'colors';
@import 'fonts';

.copyrights {
  align-self: flex-end;
  color: white;
  font-size: $text-small;
  margin-top: 10px;
}

.footer-title {
  color: white;
  font-size: $text-big;
  margin-bottom: 10px;
}

.footer-container {
  justify-content: center;
  align-items: center;
  background-color: $cerulean;
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 30px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .footer-title {
    font-size: 14px;
  }

  .footer-container {
    height: 150px;
    justify-content: space-between;
    padding: 20px 50px;
  }

  .copyrights {
    align-self: center;
    font-size: 6px;
  }
  
  .footer-logo {
    align-self: center;
    width: 200px;
  }
}
