$cerulean: #00ADEE;
$earls-grenn: #BED23C;
$silver: #C4C4C4;

* {
  font-family: 'Roboto', sans-serif;
}

.text-big {
  font-size: 24px;
}

.text-medium {
  font-size: 16px;
}

.text-small {
  font-size: 12px;
}
