@import 'colors';
@import 'fonts';

.tech-container {
  justify-self: start;
  margin: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 220px;
}

.tech-grid {
  align-items: center;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  margin: 50px 0px 150px;
}

.head-tech {
  align-content: center;
  justify-items: center; 
  border-right: 2px solid $earls-green; 
  display: grid;
  grid-row: 1/3;
  height: 100%;
  justify-self: end;
}

.tech-logo {
  align-self: center;
  height: 100px;
  width: 100px;
}

.tech-title {
  margin: 10px;
}

.tech-sub {
  font-weight: 900;
  margin-bottom: 20px;
}

.tech-title,
.tech-sub,
.tech-desc {
  display: block;
  font-size: $text-medium;
}

@media only screen and (max-width: 1024px) {
  .tech-grid {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px 0px 100px;
  }

  .tech-container {
    border-top: 2px solid $earls-green;
    border-radius: 0px;
    
  }

  .head-tech {
    border: none;
  }
}