@import 'colors';
@import 'fonts';

.tech-container {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 220px;
}

.tech-grid {
  border-left: 2px solid $earls-green;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.tech-logo {
  height: 100px;
  width: 100px;
}

.tech-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px 150px;
}

.tech-title {
  margin: 10px;
}

.tech-sub {
  font-weight: 900;
  margin-bottom: 20px;
}

.tech-title,
.tech-sub,
.tech-desc {
  display: block;
  font-size: $text-medium;
}
