.page-title {
  position: relative;
  left: 70px;
  top: 50px;
  &::before {
    content: url('assets/triangle.svg');
    height: 90px;
    width: 70px;
    bottom: -31px;
    left: -50px;
    position: absolute;
    z-index: -1;
  }
}
